<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - eTickets</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>eTickets</h1>
        <!-- Navigation links -->
    </header>

    <main role="main" class="pb-3">
        @RenderBody() <!-- REQUIRED -->
    </main>

    <footer>
        
    </footer>
</body>
</html>
